@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'SpaceGrotesk';
    src: local("./assets/fonts/SpaceGrotesk-Medium.ttf");
    font-weight: 500;
}

* {
    font-family: 'SpaceGrotesk', sans-serif;
    font-weight: 500;
    font-size: 18px;
}

#root {
    max-width: 1440px;
    margin: 0 auto;
    text-align: center;
}